@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.field {
  //  как класс в классе field >> disabled
  &.disabled {
    opacity: 0.5;
  }

  // есть класс field, а где то внутри него еще есть класс label
  .label {
    font-weight: bold;
    margin-bottom: 2px;
    display: block;
  }

  .input {
    display: block;
    padding: 7px;
    border: 1px solid $black;
    border-radius: $borderRadiusSmall;
    background-color: $white;
    outline: none;
    width: 100%;
    max-width: 200px;

    // двоеточие = псевдокласс
    &:focus {
      border-color: $blue;
    }

    &.invalid {
      border-color: $red;
    }
  }

  .error {
    margin-top: 2px;
    color: $red;
  }
}
