@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.title {
  @include h1;
}

.cards {
  .card {
    padding: 20px;
    border: 1px solid $black;
    border-radius: 10px;
    & + .card {
      margin-top: 20px;
    }

    .cardName {
      @include h2;

      .cardLink {
        @include link;
      }
    }

    .cardDescription {
      font-size: 18px;
    }
  }
}
